.container{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container div{
  margin: 30px;
  width: 25%;
}
@media screen and (max-width : 1200px) { 
  .container div{
    width: 50%;
  }
}
@media screen and (max-width : 500px) { 
  .container div{
    width: 100%;
  }
} 